.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 2px;
}
.author {
  display: flex;
  align-items: center;
  font-size: 50px;
  justify-content: flex-start; 
}

.navbar-nav {
  display: flex;
  font-size: 25px;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  display: flex;
}

.nav-link.active {
  font-weight: bolder;
  font-size: 30px;
  text-decoration: underline;
}

a {
  font-size: 18px;
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: center;
  }

  .ms-auto{
      display: flex;
      align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .author{
      font-size: 40px;
  }

  .ms-auto{
      font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .author{
      font-size: 25px;
  }

  .ms-auto{
      font-size: 15px;
  }
}