/* About.css */

.container-about {
    padding: 40px 0;
    width: 100%;
    max-width: 1140px; /* Set your desired maximum width */
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .avatar {
    width: 150px; /* Adjust the width to your desired size */
    height: 150px; /* Adjust the height to your desired size */
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .flex-container {
      flex-direction: row;
    }
  }
  