/* About.css */

.container-about {
    padding: 40px 0;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:justify;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .avatar {
    display: flex;
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  p {
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    text-justify: none;
  }

  @media (min-width: 768px) {
    .flex-container {
      flex-direction: row;
      
    }
  }
  