.container-contact {
  margin-top: 40px;
  padding: 50px 0;
}

.contact-title {
  margin-top: 0.4rem;
  margin-bottom: 3rem;
  font-size: 50px;
  text-align: center;
}

.text-muted,
.contact-info-list {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.no-bullet-list {
  list-style: none;
  padding-left: 0; 
}